# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Next.js =====
.next/
out/

# ===== Env =====
.env
.env.local
.env.*.local

# ===== Logs =====
*.log

# ===== Java / Maven =====
target/
*.class

# ===== IDE =====
.vscode/
.idea/

# ===== Docker =====
*.pid

# ===== Frontend =====
frontend/node_modules/
frontend/.next/
frontend/out/

# ===== Infra =====
infra/prometheus_data/
infra/grafana_data/
